<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="/intelcpu/0/load/1/plot" value="false" />
    <add key="/intelcpu/0/load/2/plot" value="false" />
    <add key="/intelcpu/0/load/0/plot" value="false" />
    <add key="/intelcpu/0/temperature/0/plot" value="false" />
    <add key="/intelcpu/0/temperature/1/plot" value="false" />
    <add key="/intelcpu/0/temperature/2/plot" value="false" />
    <add key="/intelcpu/0/clock/1/plot" value="false" />
    <add key="/intelcpu/0/clock/2/plot" value="false" />
    <add key="/intelcpu/0/power/0/plot" value="false" />
    <add key="/intelcpu/0/power/1/plot" value="false" />
    <add key="/intelcpu/0/power/2/plot" value="false" />
    <add key="/intelcpu/0/power/3/plot" value="false" />
    <add key="/intelcpu/0/clock/0/plot" value="false" />
    <add key="/ram/load/0/plot" value="false" />
    <add key="/ram/data/0/plot" value="false" />
    <add key="/ram/data/1/plot" value="false" />
    <add key="/nvidiagpu/0/clock/0/plot" value="false" />
    <add key="/nvidiagpu/0/clock/1/plot" value="false" />
    <add key="/nvidiagpu/0/clock/2/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/3/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/2/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/1/plot" value="false" />
    <add key="/nvidiagpu/0/load/3/plot" value="false" />
    <add key="/hdd/0/temperature/0/plot" value="false" />
    <add key="/hdd/0/load/0/plot" value="false" />
    <add key="mainForm.Location.X" value="725" />
    <add key="mainForm.Location.Y" value="200" />
    <add key="mainForm.Width" value="764" />
    <add key="mainForm.Height" value="640" />
    <add key="/hdd/0/temperature/0/values" value="" />
    <add key="/hdd/0/load/0/values" value="" />
    <add key="/nvidiagpu/0/clock/0/values" value="" />
    <add key="/nvidiagpu/0/clock/1/values" value="" />
    <add key="/nvidiagpu/0/clock/2/values" value="" />
    <add key="/nvidiagpu/0/load/0/values" value="" />
    <add key="/nvidiagpu/0/load/1/values" value="" />
    <add key="/nvidiagpu/0/load/2/values" value="" />
    <add key="/nvidiagpu/0/load/3/values" value="H4sIAAAAAAAEAHN3nXv+dvwVD4YT6+3VP8+WYQABIBsArJGp0xgAAAA=" />
    <add key="/nvidiagpu/0/smalldata/1/values" value="H4sIAAAAAAAEAHN3nXv+dvwVD4aaPy7qn2fLMIAAkA0AK3i0SRgAAAA=" />
    <add key="/nvidiagpu/0/smalldata/2/values" value="H4sIAAAAAAAEAHN3nXv+dvwVDwaGh47qn2fLMIDBQ0cA4P2XFBgAAAA=" />
    <add key="/nvidiagpu/0/smalldata/3/values" value="H4sIAAAAAAAEAHN3nXv+dvwVDwYGBlf1z7NlGCDAFQB/EIcGGAAAAA==" />
    <add key="/nvidiagpu/0/control/0/values" value="" />
    <add key="/ram/load/0/values" value="H4sIAAAAAAAEAPNONLtwO/6KxwFzfadnYolMDEBgzaDvZBqeBGa/PaXntCU/GcyOPqbn5KABUXPxgJ7Tr2yIGvudek77OiFqCi7qOYmYQ9Qcf6PntFYKIu4LNLOsGqLe6p+e018lCJuVUd9pvgmEvZlF3ym+G8I+/kPPCQDTdsY4nAAAAA==" />
    <add key="/ram/data/0/values" value="H4sIAAAAAAAEAPNONLtwO/6Kh4KAuuMzsUQmBiAwuK3maBqeBGbHrVBz3JKfDGYzLVFzdNCAqNk1T83xVzZETfN0Ncd9nRA1k9epOYqYQ9QsPaHmuFYKIu4ENLOsGqLe/aaa418lCPsjUHy+CYRdfF/NMb4bwha7ouYIAOdyMQWcAAAA" />
    <add key="/ram/data/1/values" value="H4sIAAAAAAAEAPNONLtwO/6Kh0RQmOMzsUQmBiDgaA9zNA1PArNv7Qxz3JKfDGab7QtzdNCAqKk7HOb4KxuiZuupMMd9nRA1SzeHOYqYQ9RMnhnmuFYKIv6tLcyxrBqi/mNHmONfJQjbHSg+3wTCPtoU5hjfDWEr9YU5AgCmJvXSnAAAAA==" />
    <add key="/intelcpu/0/load/0/values" value="H4sIAAAAAAAEALsWNef87fgrHi8UNZxOf09kYgACzttHHS8bJoPZDBfmOkZ6Q8QZFIwc14clQdgMHo6ZU5Lh4jfLoWo+BDku3AtVE7HR0WkzlB1Q6hjiDmV/sHR8FQJln5jmqKwFM1Pf0ewJ1JwFqo4A2N8vnJwAAAA=" />
    <add key="/intelcpu/0/load/1/values" value="H4sIAAAAAAAEAGs1nnP+dvwVj/KLbk4y8klMDEAQFnfc0YInGcxmCJjo+KUgEcJ+oO24PgyihsHB1DFzClRNgrzjzXKomgZrx4V7oWo2bHZ02gxTn+4Y4g5lL+BxfBUCZQt0OyprJcHNN3sCM4fTEQCntsnBnAAAAA==" />
    <add key="/intelcpu/0/load/2/values" value="H4sIAAAAAAAEALsWNef87fgrHlFFnE6nvycyMQDBnvAjjpcNk8FshoBVjpHeEHGGBAvH9WFJEPaBKMfMKVA1D1wcb5bD1GQ5LtwLVcOw3tFpM5S9odExxB3Kdkh3fBUCZTcsclTWgrIVjBzNnkDNOeDoCAASciK/nAAAAA==" />
    <add key="/intelcpu/0/temperature/0/values" value="H4sIAAAAAAAEALsWNef87fgrHgwMSU6nvycyMYBBlNNlw2QoO8Ap0hsm7uC0PiwJynZxypwCU2PrdLMcpsbOaeFemJpAJ6fNMLa9U4h7Elz9qxAY28NJWSsJrtfsCcIuAEZ0PbWcAAAA" />
    <add key="/intelcpu/0/temperature/1/values" value="H4sIAAAAAAAEALsWNef87fgrHgwMkU6nvycyMYCBv9Nlw2Qo29Up0hsmbue0PiwJynZ0ypwCU2PtdLM8Ec5euBemJtzJaTOMbeMU4p4EV/MqBGGOshaMbelk9iQRrh4AGICUQZwAAAA=" />
    <add key="/intelcpu/0/temperature/2/values" value="H4sIAAAAAAAEAAtqmnP+dvwVDwaGNCf/C4lMDGAQ7XTZMBnKDnSK9IaJOzitD0uCsl2cMqfA1Ng73SyHqbFzWrgXpibFyWkzjO3oFOKeBFfzKgTG9nBS1kqCm2P2JBGuHgB4UFm/nAAAAA==" />
    <add key="/intelcpu/0/clock/0/values" value="H4sIAAAAAAAEAHNinHv+dvwVD5fJJ5w+HklkYgACx0knnPZEJYPZzkD2/DiIuAOQfc4lCS7+eBJEjROQHdyAUKO6GaEmdEUSXE3GQTV2GPvOV4RdADcv666EAAAA" />
    <add key="/intelcpu/0/clock/1/values" value="H4sIAAAAAAAEAGs/MOf87fgrHr8KXF1PXE1kYgCC7i3erjtsk8HsdGMTV4F4iPiVd7quH0OSwGyXVequMo0QNT1ntFxr+iFqZDhtXCcuhaiRZ3R3Pb8Mws6w1nRV9Yewf5VbuXpGQdjp2vauN8UR7HU8EHb3EVNXAE3tq82cAAAA" />
    <add key="/intelcpu/0/clock/2/values" value="H4sIAAAAAAAEAHNinHv+dvwVj18Frq4fjyQyMQBB9xZv1z1RyWB2urGJ6/w4iPiVd7qu51ySwGyXVequjydB1PSc0XINboCokeG0cVXdDFEjz+juGroCws6w1nS194ewf5VbuYZHQdjp2vaul8QR7DtfoW44YuoKAKvepEKcAAAA" />
    <add key="/intelcpu/0/power/0/values" value="H4sIAAAAAAAEAPNONLtwO/6Kx614M8dnYolMDEBQ6sPiaBqeBGb3JW5x2JKfDGZHmHY5OGhA1NxaMtXhVzZETZ70LId9nRA1dZ1rHETMIWqigkUd10pBxI8or3Uoq4ao33p/ncNfJQh7wa/LDvNNIGzB9NkO8d0Q9sPJ8x0AkEb3EpwAAAA=" />
    <add key="/intelcpu/0/power/1/values" value="H4sIAAAAAAAEAPNONLtwO/6KxzFbHsdnYolMDECQd26/g2l4Epj9xqfKYUt+MphtddDSwUEDoqZnp7/Dr2yImtnqkQ77OiFqbBZXOYiYQ9So/fjqsFYKIv6sq8qhrBqi/takaoe/ShC24adFDvNNIOyOg5EO8d0QNl9ikgMALd97v5wAAAA=" />
    <add key="/intelcpu/0/power/2/values" value="H4sIAAAAAAAEAPNONLtwO/6KR8iqSvtnYolMDEBw/4+1vWl4Epj9cNJUuy35yWB2UswsWwcNiJrY+Dm2v7Ihai4ZT7fd1wlRw/Pokq2IOUQN9wYJu7VSEPGm1Tdsy6oh6uVXSdr9VYKws17ctp1vAmErH91pG98NYd+RX2wLAOpaehCcAAAA" />
    <add key="/intelcpu/0/power/3/values" value="H4sIAAAAAAAEAPNONLtwO/6Kh83XHfbPxBKZGIDARmGxvWl4EpitojTZfkt+Mpj9WrDW3kEDosaHucH+VzZETQV3vf2+Toiaucda7EXMIWr+anbbr5WCiN9XarUvq4aod9nSYv9XCcK+79RpP98EwnaNbbCP74aw57s32gMAfMynY5wAAAA=" />
    <add key="plotPanel.MinTimeSpan" value="0" />
    <add key="plotPanel.MaxTimeSpan" value="600" />
    <add key="plotPanel.MinVoltage" value="NaN" />
    <add key="plotPanel.MaxVoltage" value="NaN" />
    <add key="plotPanel.MinClock" value="NaN" />
    <add key="plotPanel.MaxClock" value="NaN" />
    <add key="plotPanel.MinTemperature" value="NaN" />
    <add key="plotPanel.MaxTemperature" value="NaN" />
    <add key="plotPanel.MinLoad" value="NaN" />
    <add key="plotPanel.MaxLoad" value="NaN" />
    <add key="plotPanel.MinFan" value="NaN" />
    <add key="plotPanel.MaxFan" value="NaN" />
    <add key="plotPanel.MinFlow" value="NaN" />
    <add key="plotPanel.MaxFlow" value="NaN" />
    <add key="plotPanel.MinControl" value="NaN" />
    <add key="plotPanel.MaxControl" value="NaN" />
    <add key="plotPanel.MinLevel" value="NaN" />
    <add key="plotPanel.MaxLevel" value="NaN" />
    <add key="plotPanel.MinFactor" value="NaN" />
    <add key="plotPanel.MaxFactor" value="NaN" />
    <add key="plotPanel.MinPower" value="NaN" />
    <add key="plotPanel.MaxPower" value="NaN" />
    <add key="plotPanel.MinData" value="NaN" />
    <add key="plotPanel.MaxData" value="NaN" />
    <add key="plotPanel.MinSmallData" value="NaN" />
    <add key="plotPanel.MaxSmallData" value="NaN" />
    <add key="treeView.Columns.Sensor.Width" value="250" />
    <add key="treeView.Columns.Value.Width" value="100" />
    <add key="treeView.Columns.Min.Width" value="100" />
    <add key="treeView.Columns.Max.Width" value="100" />
    <add key="listenerPort" value="8085" />
  </appSettings>
</configuration>